<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"> 
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
    
</head>
<body class="bg-gradient-to-r from-[#000042]/70 to-[#443061]/60 to-[#330033]/10">
<!-- "bg-gradient-to-r from-[#000042]/60 to-[#443061]/60 to-[#00005a]/100"> -->

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

        body{
            margin:2rem;
            padding:0;
            box-sizing: border-box; 
            background-color:  #4d004d;
        }

        #weather_labels{
            font-size: 1.6rem;
            margin-right: 2rem;
            
        }

        #weather_outputs{
            font-size: 1.5rem;
        }


        #weather_icon{
            height: 10rem;
            width: auto;
            border-radius: 50%;
            border-top: 0.1rem #df21ff inset;
            border-bottom: 0.1rem #df21ff inset;
            border-left: 0.1rem #df21ff outset;
            border-right: 0.1rem #df21ff outset;    

            box-sizing: border-box;
        }

    </style>


    <form action="/" method="post" >
        <a href="http://localhost:3000"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" 
           class="w-17 h-7 inline-flex text-[#0aeaf1] fill-current mb-1 drop-shadow-[0_2px_2px_rgba(0,0,0,0.8)]">
           <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 
                     307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
        </svg></a>
        <input type="text" name="cityName" id="cityInput" placeholder="City " class="border-[#e600e6] border-2 pl-3 py-2 
                                                                                     placeholder:text-xl text-white "/>
        <button type="submit" class="ml-3 px-5 pb-[8px] pt-[2.6px] text-2xl text-[#20005b] bg-[#ccccff] backdrop-grayscale-25 cursor-pointer">Get Weather</button>
        <br><br><br><br>    
    </form>
    <% if (wicon != ''){ %>
    <div class="grid grid-cols-3 pl-5">
    
        <div id="weather_labels" class="pl-16 grid gap-y-5 
                                        font-[bad-script] font-[500] text-[#e6f3ff]/90"> 
             <!--03e669 
                 92f830 -->
            <label class="block" >City </label>
            <label class="block" >Country </label>
            <label class="block" >Temperature</label>
            <label class="block" >Min Temperature </label>
            <label class="block" >Max Temperature </label>
            <label class="block" >Humidity </label>
            <label class="block" >Weather </label>
        </div>
        <div id="weather_outputs" class="pl-10 grid gap-y-5
                                         font-[bad-script] text-[#ffccf2]">
            <p><%= city %></p>
            <p><%= country %></p>
            <p><%= temperature %></p>
            <p><%= min_temperature %></p> 
            <p><%= max_temperature %></p>
            <p><%= humidity %></p>
            <p><%= weather %></p>
        </div>
        
        <div id="id block" class="grid place-items-center mr-60 w-70 h-100 
                                  backdrop-blur backdrop-grayscale-30 backdrop-opacity-60 
                                  drop-shadow-[0_0.5rem_70px_rgba(233,33,255,0.7)]">
            
                <img src="<%= wicon %>" id="weather_icon" class="mt-10 bg-[#f2f2f2]/30 backdrop-blur opacity-70" >
            <% }  %>
            <p id="weather" class="text-2xl mb-20 text-center text-[#84f5d5]/100"><%= weather_desc %></p>
        </div>
    </div>
</body>
</html>


<!-- <label></label>            -->
<!-- Temperature:<p id="temp"><%= temperature %></p>     -->
<!-- use the below code because p tag is a block-level element and so the value will be printed in the next line only 
same reason why p tag under the weather_outputs div does not need the tailwind class block  
 other wise style the p tag as display: inline -->
<!-- Temperature:<span id="temp"><%= temperature %></span><br> -->
<!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            